body {
    background-color: #ffffff;
    text-align: center;
}/*or any color of your choosing*/

#owl{
    font-family: fantasy;
}

.secret{
    opacity: 0.5;
}

ul{
    list-style-type: none;
}

table, th, td {
    border: 1px solid gray;
    margin: auto;
}

.cabbage{
    color: chartreuse;
}